@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.g327 {
	border-color: #302f30;
}

@font-face {
	font-family: "AvenirNextW10-Bold";
	src: url("../public/fonts/AvenirNext.ttf");
}

.Avenir {
	font-family: AvenirNextW10-Bold;
	font-display: swap;
}

.clearNav {
	backdrop-filter: saturate(180%) blur(5px) !important;
	background-color: rgba(255, 255, 255, 0.6) !important;
}

.grr {
	grid-template-columns: repeat(2, 1fr);
}

.greyC {
	filter: invert(45%) sepia(11%) saturate(507%) hue-rotate(182deg) brightness(94%) contrast(83%);
	-webkit-filter: grayscale(90%);
	transition: 0.4s;
}

.greyC:hover {
	filter: none;
	-webkit-filter: none;
	transition: 0.4s;
}

/* td:nth-child(2) {
	text-align: left;
	min-width: 20rem;
} */

@layer base {
	.font-outline-2 {
		text-shadow: 0 0 1px white;
	}
	.font-outline-4 {
		-webkit-text-stroke: 4px white;
	}

	.enabled {
		color: white;
		background-color: #3482f6 !important;
	}

	.disabled {
		color: black;
		background-color: #f3f4f6 !important;
	}

	.confidence-0 {
		color: white;
		background-color: "#77b255";
	}
	.confidence-1 {
		color: white;
		background-color: "#93b545";
	}
	.confidence-2 {
		color: white;
		background-color: "#aeb734";
	}
	.confidence-3 {
		color: white;
		background-color: "#c9ba23";
	}
	.confidence-4 {
		color: white;
		background-color: "#e4bd12";
	}
	.confidence-5 {
		color: white;
		background-color: "#ffc001";
	}
	.confidence-6 {
		color: white;
		background-color: "#fca914";
	}
	.confidence-7 {
		color: white;
		background-color: "#f89126";
	}
	.confidence-8 {
		color: white;
		background-color: "#f57a38";
	}
	.confidence-9 {
		color: white;
		background-color: "#f1634a";
	}
	.confidence-10 {
		color: white;
		background-color: "#ed4c5c";
	}
}

.atvImg {
	transform-style: preserve-3d;
	-webkit-tap-highlight-color: rgba(#000, 0);
}

.atvImg img {
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
}

.atvImg-container {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
	box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4), 0 16px 40px rgba(14, 21, 47, 0.4);
}

.atvImg-layers {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	overflow: hidden;
	transform-style: preserve-3d;
}

.atvImg-rendered-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: cover;
	transition: all 0.1s ease-out;
	overflow: hidden;
	border-radius: 8px;
}

.atvImg-shadow {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	transition: all 0.2s ease-out;
	box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
}

.atvImg-shine {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 8px;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 60%);
}

.github {
	filter: invert(12%) sepia(16%) saturate(11%) hue-rotate(63deg) brightness(96%) contrast(97%);
}

.linkedin {
	filter: invert(32%) sepia(67%) saturate(6282%) hue-rotate(184deg) brightness(93%) contrast(101%);
}

.twitter {
	filter: invert(46%) sepia(93%) saturate(615%) hue-rotate(166deg) brightness(97%) contrast(95%);
}

.internet {
	filter: invert(53%) sepia(60%) saturate(4941%) hue-rotate(202deg) brightness(98%) contrast(97%);
}

.grayIcon {
	filter: invert(46%) sepia(24%) saturate(240%) hue-rotate(182deg) brightness(91%) contrast(85%);
}

.disabledIcon {
	filter: invert(13%) sepia(95%) saturate(3023%) hue-rotate(352deg) brightness(107%) contrast(88%);
}

.selected {
	color: #3b82f6 !important;
	border-bottom: #3b82f6 solid 2px !important;
}

.notSelected {
	color: #4B5563;
	border-bottom: #e5e7eb solid 1px
}

.notSelected:hover {
	color: #374151;
	border-bottom: #9ca3af solid 1px
}